<h3>予定の編集</h3>

<div class="nav justify-content-end">
  <%= link_to '一覧', schedules_path, class: 'nav-link' %>
</div>

<%= form_with model: @schedule, local: true do |f| %>
  <div class="form-group">
    <%= f.label :title, 'タイトル' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_time, '開始日' %>
    <%= f.datetime_select :start_time %>
  </div>

  <div class="form-group">
    <%= f.label :end_time, '終了日' %>
    <%= f.datetime_select :end_time %>
  </div>

  <div class="form-group">
    <%= f.check_box :all_day %>
    <%= f.label :all_day, '終日の場合チェックしてください' %>
  </div>

  <div class="form-group">
    <%= f.label :description, '詳細' %>
    <%= f.text_area :description, rows: 5, class: 'form-control', id: 'schedule_description' %>
  </div>

  <div class="form-group">
    <%= f.submit '更新', class: 'btn btn-primary' %>
  </div>
<% end %>

<% if @schedule.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@schedule.errors.count, "error") %> 禁止事項:</h2>
    <ul>
      <% @schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>